body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
#name_from_title{
    color: aquamarine;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{ 

    width: 50%;
    padding-top: 10%;
}
.link-button{
     
     background-color: rgb(147, 5, 36);
     

     color: rgb(0, 136, 255);
     font-weight: 400;
     padding: 10px 40px;
}